@font-face {
  font-family: Simpsonfont;
  src: url(./assets/fonts/Simpsonfont-p07r.ttf);
}

body,
button {
  font-family: "Simpsonfont", "Courier New", Courier, monospace;
}

body {
  padding: 1rem;
  background-color: #6ab8e0;
  color: #fed414;
  text-shadow: -0.1rem 0.1rem 0 black;
  font-size: 0.75em;
}

h1 {
  font-size: 1.25em;
}

h2 {
  font-size: 1em;
}

p,
label {
  font-size: 0.9em;
}

img {
  width: 100px;
  height: auto;
}

.heart_icon_show {
  width: 20px;
}

.heart_icon_hide {
  display: none;
}

.search {
  max-width: 40vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 0.5fr 2fr;
  gap: 5px;
}

.character_container {
  display: flex;
  justify-content: space-around;
  margin: auto;
}

.characterName_container {
  padding: 0.25rem;
  max-width: 18ch;
  width: fit-content;
}

.quote_container {
  padding: 25px;
}

.buttons_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.deleteBtn,
.likeBtn {
  display: block;
  padding: 5px;
  margin: 10px auto;
}

.like_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.image_container {
  padding: 25px;
}

.centered {
  text-align: center;
}

.sortBtn {
  margin-bottom: 1rem;
}

@media screen and (min-width: 600px) {
  h1 {
    font-size: 1.5em;
  }

  h2 {
    font-size: 1.25em;
  }

  p,
  label {
    font-size: 1em;
  }
  .characterName_container {
    min-width: fit-content;
  }
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 2.25em;
  }

  h2 {
    font-size: 1.75em;
  }

  p,
  label {
    font-size: 1.5em;
  }
}
